menu "RT-Thread offline packages"

source "offline-packages/iot/Kconfig"
source "offline-packages/security/Kconfig"
source "offline-packages/language/Kconfig"
source "offline-packages/tools/Kconfig"
source "offline-packages/misc/Kconfig"

endmenu
