menu "IoT - internet of things"

source "offline-packages/iot/pahomqtt/Kconfig"
source "offline-packages/iot/webclient/Kconfig"
source "offline-packages/iot/nopoll/Kconfig"
source "offline-packages/iot/netutils/Kconfig"

endmenu
